:root {
    /* ### Primary */

--Very-dark-blue : hsl(233, 47%, 7%); /*(main background)*/
--Dark-desaturated-blue : hsl(244, 38%, 16%); /*(card background)*/
--Soft-violet: hsl(277, 64%, 61%); /*(accent)*/

/* ### Neutral */

--White : hsl(0, 0%, 100%); /*(main heading, stats)*/
--Slightly-transparent-white1 : hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
--Slightly-transparent-white2 : hsla(0, 0%, 100%, 0.6); /*(stat headings)*/

/* ## Typography */

/* ### Body Copy */

--Font_size: 15px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}


    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--Very-dark-blue);
    color: var(--White);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    margin: 3rem 0;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    width: 90%;
    /* height: 760px; */
    background: var(--Dark-desaturated-blue);
    border-radius: 0.5rem;
    overflow: hidden;
}

section {
    width: 100%;
}

.backdrop {
    position: relative;
}

.backdrop img {
    width: 100%;
    display: block;
}

.backdrop::before {
    position: absolute;
    content: "";
    background: var(--Soft-violet);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: multiply;
}

.section {
    height: 100%;
}

.content {
    padding: 2rem;
    text-align: center;
}

.heading {
    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--White);
    padding-bottom: 1.5rem;
}

.heading span {
    color: var(--Soft-violet);
}

.desc {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    color: var(--Slightly-transparent-white2);
}

.templates-summary,
.summary {
    padding: 2rem 0;
}

.summary .number-sum {
    font-size: 1.5rem;
    font-weight: 700;
}

.summary .name-cum{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--Slightly-transparent-white2);
}


@media screen and (min-width: 60rem) {
    body {
        height: 100vh;
    }
    .wrapper {
        max-width: 71rem;
        height: 26.44rem;
    }
    .card {
        flex-direction: row;
        min-width: 90%;
        height: 100%;
    }
    
    .section {
        height: 100%;
        align-content: space-between;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 4rem 5rem 2rem 4rem;
        align-content: start;
        height: 100%;
    }
    
    .heading {
        font-size: calc(2.3rem - 4px);
        font-weight: 600;
        color: var(--White);
        padding-bottom: 1.5rem;
    }

    .desc {
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.5rem;
        color: var(--Slightly-transparent-white2);
    }

    .summary{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
    }

    .summary div {
        padding: 0;
    }

    .summary .number-sum {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .summary .name-cum{
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: var(--Slightly-transparent-white2);
    }

    .backdrop img {
        height: 100%;
        min-width: 100%;
    }
}